<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InProduction" value = "false" />
	</appSettings>
	<system.web>
		<httpModules>
			<!-- RV: ChartRV verwijst naar 'ChartRV.dll' binnen <virtualdir>/bin map -->
			<!-- fully qualified Asembly name, zie class cAssembly -->
			<!-- <add name="System.Web" type="System.Web.SessionState.SessionStateModule, Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" /> -->
		</httpModules>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this Session. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
		<compilation defaultLanguage="c#" debug="true" />
		<!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" />

		<!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<!-- <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="1440" /> -->
		<sessionState mode = "InProc" cookieless="false" timeout = "1440"/>
		
		<!-- private.aspx page is only viewable by authenticated users -->
		<!-- <location path="private.aspx"> -->
		
		<authorization>
			<!-- <deny users="?" /> -->        <!--question mark (?) for anonymous users -->
		</authorization>
		
		<!-- </location> -->
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an Session. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		
		<!--  GLOBALIZATION
          This section sets the globalization settings of the Session. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
